:root {
  --cor-principal: #006D5B;
  --cor-fundo: #f4f6f8;
  --cor-texto: #333;
  --cor-branco: #ffffff;
  --cor-botao-laranja: #ff8c00; /* Vamos manter o laranja para os botões por enquanto */
}

body {
margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--cor-fundo); 
  color: var(--cor-texto);
}

* {
  box-sizing: border-box;
}