.main-content {
  max-width: 1400px;
  margin: auto;
  padding: 30px;
}
.anuncie-banner {
  background-color: #d8e2e2;
  padding: 50px 20px;
  text-align: center;
  margin-bottom: 30px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.anuncie-banner h2 {
  font-size: 2.5rem;
  margin: 0;
}
.arrow-btn {
  background: none;
  border: 2px solid var(--cor-principal);
  color: var(--cor-principal);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow-btn span {
  font-size: 1.5rem;
  line-height: 1;
}
.filtros-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.tipo-btn {
  padding: 8px 16px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 4px;
}
.tipo-btn.active {
  background-color: var(--cor-principal);
  color: var(--cor-branco);
  border-color: var(--cor-principal);
}
.pagination {
  text-align: center;
  margin-top: 40px;
}