.main-footer {
  background-color: #ffffff;
  padding: 40px 30px; 
  margin-top: 60px;
  border-top: 1px solid #e0e0e0;
}

.footer-content {
  max-width: 1400px;
  margin: auto;
  padding: 0; 
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-logo img {
  height: 100px;
  width: auto;
  border-radius: 15px;
}

.footer-links {
  display: flex;
  flex-direction: column; 
  gap: 8px;
}

.footer-links a {
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: color 0.2s;
}

.footer-links a:hover {
  color: var(--cor-principal);
}

.footer-direitos {
  color: #888;
  font-size: 0.9rem;
}