.step2-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
  background-color: #f8f9fa;
}

.step2-card {
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
}

.form-group {
  margin-bottom: 35px;
}



.form-label-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.form-label-container h3, .form-label-container label {
  margin: 0;
  font-size: 1.2em;
  color: #333;
}

.radio-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.radio-group label {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 1em;
}

.radio-group input[type="radio"] {
  accent-color: #006D5B; /* Deixa a bolinha do radio verde quando selecionado */
  width: 18px;
  height: 18px;
}

.step2-card input[type="text"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  box-sizing: border-box;
}

.btn-finalizar {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #006D5B;
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.btn-finalizar:hover {
  background-color: #006D5B;
}